<!--
    App footer.
-->

        <!-- Footer -->
        <footer>
            <p class="pull-xs-right"><a href="#">Back to top</a></p>
            <p>&copy; 2016 &middot; <a href="#">View on GitHub</a> &middot; <a href="#">Compunet Networking</a></p>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>

  </body>
</html>
